code {
  background-color: #fafafa;
  color: #000;
  border: solid 1px #ccc;
}
.code {
  background-color: #fafafa;
}
.amzn-dev-instructions {
  display: none;
}
.faq {
  display: none;
}
.load-skill {
  text-align: center;
  margin: 10px 0;
}
.placeholder {
  height: 100px;
}
.vui {
  font-style: italic;
}
.fa {
  padding: 0px 5px;
}
.edit {
  display: none;
}
.show-when-logged-out {
  display: none;
}
.show-when-logged-in {
  display: none;
}
.show-with-valid-skill {
  display: none;
}
.skillsjson-container {
  display: none;  
}
.script {
  font-family: 'Roboto Mono', monospace;
}
.save-ack {
  display: none;
  font-weight: bold;
}